$font-kopub: 'KoPub Batang';

.content {
  font-family: $font-kopub;
  .page-navi {
    z-index: 2;
    position: fixed;
    left: 50%;
    top: 46%;
    width: 90vw;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    .prevBtn {
      cursor: pointer;
    }
    .nextBtn {
      cursor: pointer;
    }
    img {
      width: 3vw;
      height: 10vh;
    }
  }

  section {
    width: 99vw;
    height: 100vh;
    h2 {
      position: relative;
      top: 5%;
      left: 3%;
      padding-bottom: 5px;
      margin: 0;
      border-bottom: 4px solid;
      width: 22%;
      font-size: 2rem;
    }
    img {
      position: relative;
      top: 33%;
      width: 99vw;
      height: 60vh;
    }
  }
  .step01{
    position: absolute;
    width: 100%;
    height: 80vh;
    top: 30%;
    text-align: center;
    z-index: 1;
    h2{
      position: absolute;
      top: 5%;
      left: 39%;
      border-bottom: none;
      font-size: 2rem;
    }
    .fileBtn{
      border: 1px solid black;
      padding: 6px 25px;
      border-radius: 15px;
      cursor: pointer;
      background-color: #FFDAC7;
      position: absolute;
      left: 47%;
      bottom: 20%;
    }
    .cover{
      position: absolute;
      top: 17%;
      left: 40%;
      width: 20vw;
      height: 40vh;
    }
  }
}


