$font-kopub: 'KoPub Batang';

.navbar {
  font-family: $font-kopub;
  width: 99vw;
  height: 10vh;
  border-bottom: 3px solid;
  text-align: center;
  display: table;
  h1 {
    margin: 0;
    position: absolute;
    display: inline;
    top: 4%;
  }
  .navbar-right {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 10%;
    right: 5%;
    top: 4%;
  }
}